<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp714</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- NAVBAR -->
    <div>
      <h3>Put your navbar here</h3>
      <!-- <a href="/about">About</a> -->
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>

    </div>
    <%= yield %>

    <!-- FOOTER -->
    <h3>Put the FOOTER here!</h3>
  </body>
</html>
